doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no, minimum-scale=1, maximum-scale=1, viewport-fit=cover")
    title #{htmlWebpackPlugin.options.title}
  body
    #root
      header
        h1 Craymel Quiz
        div v999.999.999
      article
        noscript.error.message Please enable JavaScript.
          style .loading.message{display:none!important;}
        .loading.message Loading, please wait...
